
/**
 estilos de formulario de creacion de correo
 electronico

**/
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
header{
	height:50% ;
	background-color:lightblue;
	color:white;
	width: 100%;
	line-height:50px;
}
header img{
	padding: 0 25px;
}
form textarea{
	width: 300px;
	height: 50px;
	line-height: 40px;
	background: #f3f3f3;
	padding: 10px ;
	border-radius: 100px;
	border:none;
	text-align: center;
	font-size: 16px
}
h1{
	text-align:center;
	background: #fff;
	width: 350px;
	text-align: center;
	margin: auto;  
}
p{
	text-align:center;
	background: #fff;
	width: 350px;
	text-align: center;
	margin: auto;
}
.formulario h2{
	color:lightblue;
}
form{
	width:300px;
	background:#fff;
	margin: auto; 
	margin-bottom:30px; 
	border-radius: 4px;
	font-family:'calibrí';
	 
}

.formulario input{
	width: 300px;
	height: 25px;
	line-height: 40px;
	background: #f3f3f3;
	border-radius: 100px;
	border:none;
	text-align: center;
	font-size: 16px
}
.formulario label{
	padding: 0 10px;
}
.pie{
	height:50% ;
	background-color:lightblue;
	color:white;
	width: 100%;
	line-height:50px;
	
}


/**
 estilos de formulario de creacion de correo
 electronico

**/
